@model IEnumerable<CarRental.Models.NhanVien>

@{
    ViewData["Title"] = "Employee List";
}

<h1>Danh sách nhân viên</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Thêm mới nhân viên</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Họ và Tên nhân viên</th>
            <th>Password</th>
            <th>Vị trí</th>
            <th>Số điện thoại</th>
            <th>Email</th>
            <th>Ca làm</th>
            <th>Tùy chọn</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Ten</td>
                <td>@item.Pass</td>
                <td>@item.ChucVu</td>
                <td>@item.Sdt</td>
                <td>@item.Email</td>
                <td>@item.CaLam</td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
