@model IEnumerable<CarRental.Models.Customer>

@{
    ViewData["Title"] = "Customer List";
}

<h1>Danh sách khách hàng</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Thêm mới khách hàng</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Họ và Tên</th>
            <th>Số điện thoại</th>
            <th>Email</th>
            <th>Tuổi</th>
            <th>Địa chỉ</th>
            <th>Tùy chọn</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.TenKhach</td>
                <td>@item.Sdt</td>
                <td>@item.Email</td>
                <td>@item.Tuoi</td>
                <td>@item.DiaChi</td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.TenKhach">Edit</a>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.TenKhach">Details</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.TenKhach">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
