@model IEnumerable<CarRental.Models.DatXe>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Danh sách hóa đơn</h1>



<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tên khách</th>
            <th>Biển số xe </th>
            <th>Ngày đặt</th>
            <th>Ngày trả</th>
            <th>Số điện thoại</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.TenKhach</td>
                <td>@item.BienSo</td>
                <td>@item.NgayDat</td>
                <td>@item.NgayTra</td>
                <td>@item.SDT</td>
            </tr>
        }
    </tbody>
</table>

