@model IEnumerable<CarRental.Models.ThanhToan>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="Index" asp-controller="ThongKe">
    <label for="startDate">Ngày bắt đầu:</label>
    <input type="datetime" id="startDate" name="startDate" required>
    <label for="endDate">Ngày kết thúc:</label>
    <input type="datetime" id="endDate" name="endDate" required>
    <button type="submit" class="btn-primary">Tìm kiếm</button>
</form>
@if (Model.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Tên khách</th>
                <th>Id</th>
                <th>Biển số</th>
                <th>Phí trễ</th>
                <th>Ngày in</th>
                <th>Tổng cộng</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.TenKhach</td>
                    <td>@item.Id</td>
                    <td>@item.BienSo</td>
                    <td>@item.PhiTre</td>
                    <td>@item.NgayIn</td>
                    <td>@item.Total vnđ</td>
                </tr>
            }
        </tbody>

    </table>
    <tr>
    <td colspan="5" class="margin-class"><strong>Tổng doanh thu:</strong></td>
    <td class="text-right">@Model.Sum(x => x.Total) vnđ</td>
    </tr>
}
else
{
    <p>Không tìm thấy kết quả.</p>
}


