@model IEnumerable<CarRental.Models.Xe>

@{
    ViewData["Title"] = "Vehicle List";
}

<h1>Vehicle List</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New Vehicle</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tên xe</th>
            <th>Biển số xe</th>
            <th>Mô tả</th>
            <th>Giá thuê</th>
            <th>Trạng thái</th>
            <th>ảnh</th>
            <th>Loại xe</th>
            <th>Tùy chọn</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Ten</td>
                <td>@item.BienSo</td>
                <td>@item.MoTa</td>
                <td>@item.Gia</td>
                <td>@item.TrangThai</td>
                <td>
                    <img src="@("~/image/" + item.Hinh)" asp-append-version="true" width="50" height="50" />
                </td>
                <td>@item.TenLoai</td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.BienSo">Edit</a>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.BienSo">Details</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.BienSo">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
