@model IEnumerable<CarRental.Models.Xe>

@{
    ViewData["Title"] = "Vehicle List";
}

<h1>Vehicle List</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New Vehicle</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Tên xe
            </th>
            <th>
                Bien so xe
            </th>
            <th>
                Mô tả xe
            </th>
            <th>
                Giá thuê
            </th>
            <th>
                Trạng thái
            </th>
            <th>
                Hình
            </th>
            <th>
                Loại xe
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    var imagepath = "~/Image/" + item.Hinh;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BienSo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                <img src="@imagepath" asp-append-version="true" width="50" height="50" />
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.TenLoai)
            </td>
            <td>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BienSo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BienSo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
